# Byte-compiled / optimized / DLL files
__pycache__/
.idea
*.h5
yolov4.pptx
~$yolov4.pptx
yolov4.pdf
yolov4_loss.pptx
logs/
input
Demo/
results/
.DS_Store
__pycache__
*.py[cod]
*$py.class
bdd100k
face_detection
voc_obj/data
bdd_2_voc
images
train_mask.py
train.py
data